body {
    background-color: #e6d3ce;
    font-family: Arial;
}

.login-box {
    width: 400px;
    margin: 150px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background: #f3f3f3;
}

button {
    padding: 12px 40px;
    background: #b997ad;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: 10px;
}
