<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}">
</head>
<body>

<div class="layout">

    <aside class="sidebar">
        <h2>Meraki</h2>
        <a href="{{ url_for('shop.shop') }}">Shop</a>
        <a href="{{ url_for('customer.customer_profile') }}">My Info</a>
        <a href="{{ url_for('customer.customer_orders') }}">My Orders</a>
        <a href="{{ url_for('customer.logout') }}">Logout</a>
    </aside>

    <div class="container">

        <h1 class="page-title">Change Password</h1>

        {% if error %}
            <p style="color:red; margin-bottom:15px;">{{ error }}</p>
        {% endif %}

        <form method="POST" style="max-width:400px;">

            <input type="password" name="current_password"
                   placeholder="Current Password" required>

            <br><br>

            <input type="password" name="new_password"
                   placeholder="New Password" required>

            <br><br>

            <input type="password" name="confirm_password"
                   placeholder="Confirm New Password" required>

            <br><br>

            <button class="place-order-btn">Save Password</button>

        </form>

    </div>
</div>

</body>
</html>
