<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

<div class="login-box">
    <h1>Create Account</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endwith %}

    <form method="POST" action="{{ url_for('login.register') }}">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Create Account</button>
    </form>

    <a href="{{ url_for('login.login') }}">⬅ Back to Login</a>
</div>

</body>
</html>
